@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --botticelli: #ffffff;
  --blue-whale: #042d45;
  --waikawa-gray: #5c748f;
  --bermuda-gray: #0a81bd;
  --glacier: #0a9fdf;
  --trout: #02638367;
  --salt-box: #666567;
  --spicy-mix: #8e5e41;
  --pickled-bluewood: #324e60;
  --bunker: #0d1319;
}

body {
  background-color: var(--botticelli); 
  font-family: 'Inter', sans-serif;
  margin: 0;
}

.navbar-custom {
  background-color: var(--botticelli); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-link {
  font-weight: 700 !important;
  color: var(--blue-whale) !important; 
  font-size: 16px !important;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--bermuda-gray) !important; 
}

.icon-style {
  margin-left: 2px !important;
  padding-left: 4px;
  margin-bottom: 1px;
}

.arrow-style {
  margin-left: 10px;
}

.btn-outline-primary:hover {
  background-color: transparent !important;
}

.me-auto {
  gap: 5px;
}

.welcome-section {
  background-color: var(--blue-whale); 
  color: white;
  padding: 5rem;
  padding-top: 50px;
  padding-left: 100px !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.welcome-badge {
  background-color: var(--pickled-bluewood); 
  padding: 8px 16px;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.welcome-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.custom-badge {
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  --bs-bg-opacity: 1;
  border: solid 1px var(--glacier); 
  border-radius: 53px;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.welcome-title span {
  text-decoration: underline;
}

.welcome-text {
  font-size: 1.2rem;
  max-width: 400px;
  margin-bottom: 2rem;
}

.welcome-button {
  border-radius: 50px !important;
  padding: 7px 29px !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  color: var(--pickled-bluewood) !important; 
}

.business-highlight {
  color: white;
  position: relative;
  text-decoration: none !important;
}

.business-highlight::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--bermuda-gray); 
  position: absolute;
  left: 0;
  bottom: -4px;
}

.line {
  margin-top: 109px !important;
  margin-bottom: 15px;
  border: solid 1px var(--trout); 
  width: 65%;
}

.welcome-paragraph {
  font-size: 19px;
  font-weight: 500 !important;
}

.contact-form-container {
  background-image: url('https://img.freepik.com/fotos-premium/desenfoque-fondo-oficina-moderna-vacia-centro-ciudad-diseno-interior-espacio-trabajo_31965-73058.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0 !important;
  padding: 0 !important;
}

.containerForm {
  background-color: white;
  width: 440px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 450px !important;
  margin-top: -30px;
}

.form-title {
  font-size: 22px;
  font-weight: bold;
  color: var(--blue-whale); 
  padding-top: 10px;
  padding-left: 5px;
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 0 !important;
}

.form-control {
  border-radius: 0;
  border: 1px solid #ced4da;
}

.form-control::placeholder {
  margin-top: 10px !important;
  color: var(--blue-whale) !important;
  font-weight: 700 !important;
  font-size: 14px !important;
}

.custom-title {
  margin-top: 10px !important;
  font-size: 13px !important;
  border: 2px solid var(--blue-whale); 
  border-radius: 26px;
  padding: 8px 11px !important;
  color: var(--blue-whale) !important;
  font-weight: 700 !important;
  width: 53% !important;
  margin-bottom: 5px !important;
}

.btn-primary {
  background-color: white !important;
  border: 2px solid var(--blue-whale) !important; 
  padding: 10px 20px !important;
  width: 100% !important;
  color: var(--blue-whale) !important;
  font-weight: 700 !important;
  text-align: center !important;
  font-size: 15px !important;
}

.btn-primary:hover {
  background-color: var(--blue-whale) !important;
  color: white !important;
}
footer {
  position: relative;
  z-index: 10;
  background-color: #fdfdfd;
  color: #7a9ec2;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &.show {
    opacity: 1; 
  }

  .footer-container {
    max-width: 800px;
    margin: 0 auto;
  }

  a {
    color: #7a9ec2;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .description {
    margin-top: 10px;
    font-size: 14px;
    color: #7a9ec2;
  }
}
